header{
    display: flex;
    justify-content: center;
    border:2px solid #ede9fe;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: #efefee;
    width: 100%;
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* form{
    min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
.formInput{
    display: flex;
    flex-direction: column;
   margin-bottom: 20px;
    
}
label{
    font-weight: bold;
    padding:5px ;
}
input{
    width: 50rem;
    padding: 10px 20px;
    border-radius: 5px;
    border:1px solid #ede9fe;
    outline: none;

}

.addBtn {
    display: block;
    background-color:  #3b82f6;
    color: #dbeafe;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
}


/* contact-list */
.contactList{
    border:1px solid #ede9fe;
    display: flex;
    justify-content: space-between;
    width: 51rem;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 30px;
  
}
.contactUser{
    display: flex;
    flex-direction: column;
}
.contactUser p{
    padding: 0;
    margin: 0;
}
.deleteBtn{
    background-color: #fff;
    color: rgb(234, 113, 113);
    border: 1px solid rgb(234, 113, 113);
    border-radius: 5px;
    padding: 5px 10px;
}
.userName{
    font-weight: bold;
}